.bg {
  background-color: rgb(194, 226, 255);
  border-radius: 10px;
  box-shadow: 0 5px 10px 3px rgba(19, 63, 73, 0.2);
  padding: 30px;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

